[Unit]
Description=DotaShowcase Inventory Service - Spring Boot
After=syslog.target network.target

[Service]
User=ubuntu
Group=ubuntu
Type=simple

[Service]
# App dir - relative paths resolve from it, e.g. logs in storage/logs
WorkingDirectory=/usr/local/inventory-service/app
# Path to JAR file built by Gradle
ExecStart=/usr/bin/java -Dspring.profiles.active=prod -jar /usr/local/inventory-service/app/build/libs/inventory-service-0.0.1.jar

SuccessExitStatus=143
Restart=always
RestartSec=10

StandardOutput=journal
StandardError=journal

SyslogIdentifier=ds-inventory

[Install]
WantedBy=multi-user.target
