[Unit]
Description=DotaShowcase Inventory Service - Spring Boot
After=syslog.target network.target

[Service]
User=ubuntu
Group=ubuntu
Type=simple

[Service]
# Path to JAR file built by Gradle
ExecStart=/usr/bin/java -jar /usr/local/inventory-service/app/build/libs/inventory-service-0.0.1.jar -Dspring.profiles.active=prod

SuccessExitStatus=143
Restart=always
RestartSec=10

StandardOutput=syslog
StandardError=syslog

SyslogIdentifier=ds-inventory

[Install]
WantedBy=multi-user.target
